body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://i.pinimg.com/564x/5d/e2/ef/5de2efc3e240f894350ccad66c16b990.jpg');
  background-color: #000000;
  background-size: 140vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: yellow;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

input{
  margin-top: 25px;
  border-radius: 5px;
  height: 20px;
  color: black;
}

h2{
  color: white;
}

button{
  background: #ccc;
  border-radius: 3px;
}

